@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

/* header */

.container{
    width: 80%;
    margin: 0 auto;
}

.header-content .main-logo{
    width: 10%;
}

/* main */

.main-section{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

.main-section-text, .main-section-img{
    width: 50%;
}

.main-section-text h1{
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    margin-top: 5%;
}

.main-section-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.main-section-img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-section-img img{
    width: 50%;
}

.main-section-logos{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.main-section-logo{
    display: flex;
    width: 30%;
    gap: 5%;
    align-items: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
}

.card{
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0 0 10px 1;
}

.card h2{
    font-size: 30px;
    margin: 5% 5%;
}

.card p{
    font-size: 25px;
    margin: 8% 30% 5% 8%;
}

.card1{
    width: 33%;
    display: flex;
    flex-direction: column;
    background: #1E4681;
    padding: 1%;
    color: white;
    border-radius: 5px;
}

.card1 p{
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card1 p:last-child{
    align-self: flex-end;
    font-size: 20px;
    margin-top: 5%;
}

.section-card-content{
    display: flex;
    justify-content: center;
    margin: 10% 0;
}